<link rel="stylesheet" href="/css/footer.css">
<footer>
    <p id="copyright">@Codeial, All Rights Reserved</p>
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile/:id">Profile</a>
            </li>
        </ul>
    </div>
</footer>