<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter Full Name" required>
    <input type="email" name="email" placeholder="Enter Email-ID" required>
    <input type="password" name="password" placeholder="Create Strong Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="number" name="mobile_number" placeholder="Enter 10 Digit Mobile Number" required>
    <input type="submit" value="Sign Up">
</form>