<link rel="stylesheet" href="/css/user_auth.css">

<div id="main-container">
    <div id="sign-in-form">
        <p>
            SIGN UP | 
            <code>{codeial}</code>
        </p>
        <form action="/users/create" method="post">
            <input type="text" name="name" placeholder="Enter Full Name" required>
            <br>
            <input type="email" name="email" placeholder="Enter Email-ID" required>
            <br>
            <input type="password" name="password" placeholder="Create Strong Password" required>
            <br>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <br>
            <input type="number" name="mobile_number" placeholder="Enter Mobile Number" required>
            <br>
            <input type="submit" value="SIGN UP" id="form-submit">
        </form>
    </div>
</div>