@font-face {
    font-family: Ahsing;
    src: url(/fonts/Ahsing-Regular.otf);
}

#main-container {
    height: 100vh;
    background-color: rgb(231, 231, 231);

    #sign-in-form {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p{
            font-family: 'Trebuchet MS';
            font-weight: 1000;
            font-size: 25px;
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px 10px;
            padding-bottom: 10px;
            border-radius: 12px;
            width: 300px;

            code{
                font-family: Ahsing;
                font-size: 30px;
            }
        }
        
        input{
            margin-top: 10px;
            padding: 5px;
            border: 2px solid black;
            width: 200px;
            margin-left: 50px;
            font-family: 'Trebuchet MS';
            font-size: 15px;
        }

        #form-submit{
            background-color: blue;
            font-family: 'Trebuchet MS';
            font-size: 20px;
            color: white;
            width: 213px;
        }
    }
}